@import url("//db.onlinewebfonts.com/c/e0bb952bb60c78585664820b81be7466?family=Credit+Card");
/*agregando mas*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    
    font-size: 16.5px;
    
    
}

body{
    background-color: #e5e5f7;
    
    background-image:  linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
    width: 100%;
    
    
}

main{
    margin: 150px 0;
}

.reloj{
    
    width: 300px;
    height: 50px;
    background: linear-gradien(45deg,#e9e9f8, #fff);
    margin: 50px auto;
    text-align: center;
    padding: 15px 0;
    border-radius: 115px;
    border: 1px solid black;
    color: black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 8px;
    filter: drop-shadow(1px 1px 5px white);
}

.container{
    font-family: "Credit Card";
    background-image: linear-gradient(45deg,blue, dodgerblue);
    width: 400px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    border-radius: 9px;
}

.containerNoche{
    font-family: "Credit Card";
    background-image: linear-gradient(45deg, gray, black );
    width: 400px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    border-radius: 9px;
    
}

.containerTarde{
    font-family: "Credit Card";
    background-image: linear-gradient(45deg,#DC7633, #873600 );
    width: 400px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    border-radius: 9px;
}








.header{
    width: 100%;
    margin: 10px 0;
    color: white;
    
}

.header .title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    filter: drop-shadow(1px 1px 2px black);
}

.main{
    width: 100%;
    
}
 .main img{
    width: 80px;
    height: 60px;
    object-fit: cover;
    margin: 0 -10px ;
    filter: drop-shadow(1px 1px 2px black);
}

.main .number{
    margin: 10px 0;
    width: 100%;
    word-spacing: 0px;
    letter-spacing: 6px;
    color: white;
    filter: drop-shadow(1px 1px 2px black);
}

.main .containerValido{
    margin: 0 70px;
}

.main .containerValido .texto{
    width: 10px;
    font-size: 8px;
    display: inline-block;
    line-height: 8px;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(1px 1px 2px black);
    
    
}

.main .fecha{
    display: inline-block;
    margin: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(1px 1px 2px black);

}

.footer{
    width: 100%;
    
}

.footer .name{
    display: inline;
    margin-right: 210px;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(1px 1px 2px black);
}

.footer .visa{
    width: 60px;
    
}